* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



/* Styles for small devices (mobile phones) */
body {
    font-size: 16px;
    margin: 10px;
    background: rgb(255,221,193);
    background: linear-gradient(135deg, rgba(255,221,193,1) 49%, rgba(139,0,0,1) 49%);
  
}




#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes draw {
    0% {
        stroke-dasharray: 0 100;
    }

    100% {
        stroke-dasharray: 100 0;
    }
}

#logo path {
    stroke: rgb(255, 255, 255);
    stroke: width 2px;
    fill: transparent;
    animation: draw 3s ease-in-out forwards;
}

/* Optional hover effect */
#logo:hover path {
    animation: draw 3s ease-in-out forwards;
}

#button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button path {
    stroke: rgb(255, 255, 255);
    stroke: width 2px;
    fill: transparent;
    animation: draw 3s ease-in-out forwards;
}

/* Optional hover effect */
#button:hover path {
    animation: draw 3s ease-in-out forwards;
}

#button:hover {
    width: 250px;
}
